# Practice Exercises & Challenges - Tuples

### 1. Practice Exercise: Access Elements in a Tuple

1.1. What happens if you use a negative index larger than the length of the tuple?

In [ ]:
the_tuple = (1, 2, 3)
print(the_tuple[-5])

1.2. Experiment with slicing using different ranges, including out-of-bounds indices.

In [ ]:
the_tuple = (1, 2, 3)
print(the_tuple[1:10])

1.3. What happens if you try to access an element in an empty tuple?

In [ ]:
empty_tuple = ()

1.4. How can you access specific elements within a tuple of tuples?

In [ ]:
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple[1][1])

1.5. Implement error handling for both slicing and indexing operations.

In [ ]:
the_tuple = (10, 20, 30, 40)
try:
    # replace this with your code 
except # replace this with your code :
    # replace this with your code

### 2. Practice Exercise: Convert Tuple to List and Vice Versa

2.1. Convert a tuple (10, 20, 30) into a list, add an element 40, and convert it back into a tuple.

In [ ]:
the_tuple = (10, 20, 30)
the_list = # replace this with your code
the_list.# replace this with your code
the_tuple = # replace this with your code
print(the_tuple)

2.2. Create a tuple (100, 200, 300) directly from a list using tuple().

In [ ]:
the_tuple = # replace this with your code
print(the_tuple)

2.3. Convert a nested tuple ((1, 2), (3, 4)) into a nested list, modify one of the inner lists, and convert it back into a nested tuple.

In [ ]:
nested_tuple = ((1, 2), (3, 4))
nested_list = [list(inner) for inner in nested_tuple]  # Convert nested tuples to lists
nested_list[0].# replace this with your code
nested_tuple = tuple(tuple(inner) for inner in nested_list)  # Convert back to nested tuple
print(nested_tuple)

2.4. Convert an empty tuple () into a list, add elements [1, 2, 3], and convert it back into a tuple.

In [ ]:
empty_tuple = # replace this with your code
empty_list = list(empty_tuple)
empty_list.extend([1, 2, 3])  # Add elements
empty_tuple = # replace this with your code
print(empty_tuple)

2.5. Convert a tuple (5, 6, 7) to a list, add two elements (8 and 9), remove one (6), and convert it back into a tuple.

In [ ]:
the_tuple = (5, 6, 7)
the_list = list(the_tuple)
the_list.# replace this with your code
the_list.remove(6)  # Remove an element
the_tuple = # replace this with your code
print(the_tuple)

### 3. Practice Exercise: Count and Index Methods for Tuples

3.1. Given the tuple (5, 5, 5, 10, 15), count the occurrences of 5 and find the index of 10.

In [ ]:
the_tuple = (5, 5, 5, 10, 15)
# replace this with your code
# replace this with your code

3.2. or the tuple ('cat', 'dog', 'cat', 'bird'), count how many times 'cat' appears and find the index of 'bird'.

In [ ]:
the_tuple = ('cat', 'dog', 'cat', 'bird')
# replace this with your code
# replace this with your code

3.3. What happens if the value you search for using index() does not exist in the tuple?

In [ ]:
the_tuple = (1, 2, 3)
try:
    # replace this with your code
# replace this with your code:
    print("Value not found")

3.4. Given the tuple (1, 'a', 1, 'b', 1), count the occurrences of 1 and find the index of 'b'.

In [ ]:
the_tuple = (1, 'a', 1, 'b', 1)
# replace this with your code
# replace this with your code

3.5. What are the results of calling count() and index() on an empty tuple?

In [ ]:
the_tuple = ()
# replace this with your code
try:
    # replace this with your code
except ValueError:
    print("Value not found")

### 4. Practice Exercise: Concatenate and Repeat Tuples

4.1. Combine the tuples (10, 20) and (30, 40, 50) into a single tuple.

In [ ]:
tuple1 = (10, 20)
# replace this with your code
combined = # replace this with your code
print(combined)

4.2. Repeat the tuple ('x', 'y') 5 times.

In [ ]:
tuple1 = ('x', 'y')
repeated = # replace this with your code
print(repeated)

4.3. Create a single-element tuple with the value 42, concatenate it with (50, 60), and repeat the result 2 times.

In [ ]:
single_tuple = # replace this with your code
combined = single_tuple + # replace this with your code
repeated = # replace this with your code
print(repeated)

4.4. Concatenate (1, 'a') with (2, 'b') and repeat the result 3 times.

In [ ]:
tuple1 = (1, 'a')
tuple2 = (2, 'b')
combined = # replace this with your code
repeated = # replace this with your code
print(repeated)

4.5. Concatenate an empty tuple () with (1, 2, 3) and repeat the result 4 times.

In [ ]:
empty_tuple = # replace this with your code
tuple1 = (1, 2, 3)
combined = # replace this with your code
repeated = # replace this with your code
print(repeated)

### 5. Practice Exercise: Unpack Elements from a Tuple

5.1. Unpack the tuple (5, 10, 15, 20) into four variables and print them.

In [ ]:
the_tuple = (5, 10, 15, 20)
# replace this with your code
print(a, b, c, d)

5.2. For the tuple (100, 200, 300, 400, 500), unpack the first and last elements into separate variables and the middle elements into a list.

In [ ]:
the_tuple = (100, 200, 300, 400, 500)
# replace this with your code
print(a, b, c)

5.3. Unpack the tuple ((1, 2), 3, 4) so that the first element is unpacked into two variables, and the other elements are stored in separate variables.

In [ ]:
the_tuple = ((1, 2), 3, 4)
# replace this with your code
print(x, y, z, w)

5.4. For the tuple (10, 20, 30, 40, 50), unpack only the first two elements and store the rest in another variable.

In [ ]:
the_tuple = (10, 20, 30, 40, 50)
# replace this with your code
print(a, b, rest)

5.5. What happens if the number of variables does not match the number of elements in the tuple? Write a code example to handle this gracefully.

In [ ]:
the_tuple = (1, 2, 3)
try:
    # replace this with your code
except ValueError as e:
    print("Error:", e)

### 6. Practice Exercise: Check if an Element Exists in a Tuple

6.1. Check if 30 exists in the tuple (10, 20, 30, 40) and print the result.

In [ ]:
the_tuple = (10, 20, 30, 40)
# replace this with your code:
    print("Found") 
else:
    # replace this with your code

6.2. Verify if 'dog' exists in the tuple ('cat', 'dog', 'bird') using both a standard if-else statement and an inline conditional.

In [ ]:
the_tuple = ('cat', 'dog', 'bird')
# Standard
# replace this with your code:
    print("Found")  
else:
    print("Not Found")

# Optimized
result = # replace this with your code
print(# replace this with your code)

6.3. For the tuple (1, 2, 3, 4), check if 5 does not exist and print "Not Found".

In [ ]:
the_tuple = (1, 2, 3, 4)
# replace this with your code:
    print(# replace this with your code)

6.4. Check if any element exists in an empty tuple ().

In [ ]:
# replace this with your code
# replace this with your code:
    print("Found")
else:
    print("Not Found")

6.5. Accept a user-provided value, check if it exists in the tuple (100, 200, 300), and print the result.

In [ ]:
the_tuple = # replace this with your code
value = int(input("Enter a number: ")) 
result = # replace this with your code
print(# replace this with your code)

### 7. Practice Exercise: Slice a Tuple

7.1. Slice (1, 2, 3, 4, 5, 6) to extract elements from index 2 to 4.

In [ ]:
the_tuple = (1, 2, 3, 4, 5, 6)
print(the_tuple[# replace this with your code])

7.2. Slice (10, 20, 30, 40, 50) to extract the last two elements.

In [ ]:
the_tuple = (10, 20, 30, 40, 50)
print(the_tuple[# replace this with your code])

7.3. Use slicing with a step of 3 on (5, 10, 15, 20, 25, 30) to select every third element.

In [ ]:
the_tuple = (5, 10, 15, 20, 25, 30)
print(the_tuple[# replace this with your code])

7.4. Reverse the tuple (100, 200, 300, 400, 500) using slicing.

In [ ]:
the_tuple = (100, 200, 300, 400, 500)
print(the_tuple[# replace this with your code])

7.5. What happens when the start and stop indices are the same? Test on (7, 8, 9).

In [ ]:
the_tuple = (7, 8, 9)
print(the_tuple[# replace this with your code])

### 8. Practice Exercise: Compare Two Tuples

8.1. Compare (5, 10, 15) with (5, 10, 20) for equality and lexicographical order.

In [ ]:
tuple1 = (5, 10, 15)
tuple2 = (5, 10, 20)
print(# replace this with your code])  
print(# replace this with your code])

8.2. Compare ((1, 2), 3) with ((1, 2), 4) using relational operators.

In [ ]:
tuple1 = ((1, 2), 3)
tuple2 = ((1, 2), 4)
print(# replace this with your code])  
print(# replace this with your code])

8.3. Compare (1, 2, 3) with (1, 2) and explain the result.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2)
print(# replace this with your code])  
print(# replace this with your code])

8.4. Compare (1, 'a', 3) with (1, 'b', 3) and determine the outcome.

In [ ]:
tuple1 = (1, 'a', 3)
tuple2 = (1, 'b', 3)
print(# replace this with your code])

8.5. Compare an empty tuple () with (1,).

In [ ]:
tuple1 = ()
tuple2 = (1,)
print(# replace this with your code])

### 9. Practice Exercise: Iterate Over a Tuple

9.1. Iterate over the tuple (1, 2, 3, 4) and print each element.

In [ ]:
the_tuple = (1, 2, 3, 4)
# replace this with your code:
    print(elem)

9.2. Use enumerate() to iterate over (5, 10, 15, 20) and print the index and value for each element.

In [ ]:
the_tuple = (5, 10, 15, 20)
# replace this with your code:
    print(f"Index {index}: {elem}")

9.3. Iterate over ((1, 2), (3, 4), (5, 6)) and print each sub-tuple.

In [ ]:
the_tuple = ((1, 2), (3, 4), (5, 6))
# replace this with your code:
    print(sub_tuple)

9.4. Iterate over (10, 15, 20, 25, 30) and print only the elements greater than 20.

In [ ]:
the_tuple = (10, 15, 20, 25, 30)
# replace this with your code:
    if elem > # replace this with your code:
        print(elem)

9.5. Iterate over an empty tuple () and verify that nothing is printed.

In [ ]:
the_tuple = ()
 # replace this with your code:
    print(elem)

### 10. Practice Exercise: Sort Elements of a Tuple

10.1. Sort the tuple (9, 7, 8, 5) in ascending order.

In [ ]:
the_tuple = (9, 7, 8, 5)
sorted_tuple = # replace this with your code
print(sorted_tuple)

10.2. Sort the tuple (6, 3, 9, 1) in descending order.

In [ ]:
the_tuple = (6, 3, 9, 1)
sorted_tuple = # replace this with your code
print(sorted_tuple)

10.3. Sort the tuple ('banana', 'apple', 'cherry') in alphabetical order and reverse alphabetical order.

In [ ]:
the_tuple = ('banana', 'apple', 'cherry')

# Alphabetical order
sorted_tuple = t# replace this with your code
print(sorted_tuple)  

# Reverse alphabetical order
sorted_tuple_desc = # replace this with your code
print(sorted_tuple_desc)

10.4. Given the tuple (1, 'apple', 2, 'banana'), explain why sorting will raise an error.

In [ ]:
the_tuple = (1, 'apple', 2, 'banana')
try:
    sorted_tuple = # replace this with your code
except TypeError as e:
    print("Error:", e)

10.5. Sort an empty tuple ().

In [ ]:
the_tuple = ()
sorted_tuple = # replace this with your code
print(sorted_tuple)

### Solution Available at: Tuple Solutions: Practice Exercises & Challenges