In [1]:
# Print the First 15 Positive Integers

for num in range(1, 16):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [2]:
for num in range(1, 16, 1):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
# Print Integers in Reverse Order (from n to 1)

user_num = int(input('Enter a number greater than zero: '))

the_nums = []

for num in range(1, user_num + 1):
    the_nums.append(num)
the_nums.sort(reverse=True)

for _ in the_nums:
    print(_)

Enter a number greater than zero: 5
5
4
3
2
1

In [4]:
user_num = int(input('Enter a number greater than zero: '))

for num in range(user_num, 0, -1):
    print(num)

Enter a number greater than zero: 5
5
4
3
2
1

In [5]:
user_num = int(input('Enter a number greater than zero: '))

for num in reversed(range(1, user_num + 1)):
    print(num)

Enter a number greater than zero: 5
5
4
3
2
1

In [6]:
# Sum of First 100 Positive Integers

the_nums = [i for i in range(1, 101)]

print(sum(the_nums))

5050

In [7]:
the_sum = 0

for i in range(1, 101):
    the_sum += i
    
print(the_sum)

5050

In [8]:
# Print the Multiplication Table

the_num = 3

print(f'*** Multiplication Table up to 10 for the number {the_num} ***')

the_table = [print(f'{the_num} * {i} = {the_num * i}') for i in range(1, 11)]

*** Multiplication Table up to 10 for the number 3 ***
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [9]:
the_num = int(input('Enter a a number to mulitply: '))

print(f'*** Multiplication Table up to 10 for the number {the_num} ***')

for i in range(1, 11):
    print(f'{the_num} * {i} = {the_num * i}')

Enter a a number to mulitply: 5
*** Multiplication Table up to 10 for the number 5 ***
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
# Print the Alphabet using a Loop

for i in range(65, 91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [11]:
import string

the_alphabet = string.ascii_uppercase

for letter in the_alphabet:
    print(letter)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [12]:
# First 100 Even Numbers

for num in range(2, 201):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [13]:
for num in range(2, 201, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [14]:
# Calculate Factorial
user_input = int(input('Please enter a number to view its factorial: '))

the_factorial = 1
for i in range(2, user_input + 1):
    the_factorial *= i

print(the_factorial)

Please enter a number to view its factorial: 5
120

In [15]:
# Use While Loops
user_input = int(input('Please enter a number to view its factorial: '))

the_factorial = 1

i = 1

while i <= user_input:
    the_factorial *= i
    i += 1
print(the_factorial)

Please enter a number to view its factorial: 5
120

In [16]:
# Check if a Number is Prime

the_prime = 59


the_list = []

for i in range(1, the_prime + 1, 2):
    #print(the_prime % i)
    check_5 = str(the_prime)
    if the_prime <= 1:
        print('Not Prime')
        break
    elif the_prime == 2 or the_prime == 3:
            print('Prime')
            break
    elif the_prime >= 5:
        if the_prime % 2 == 0:
            print('Not Prime')
            break
        elif len(check_5) == 1:
            print('Prime')
            break
        elif check_5[1] == '5':
            print('Not Prime')
            break
        else:
            print(f'{the_prime} / {i} is', the_prime / i)
            if i != 1 or i != 59:
                check_num = str(the_prime / i)
                if check_num[3] != str(0):
                    print(f'{check_num} ---', check_num[3])
                    print('Not Prime')
                    break
                else:
                    print('Prime')

59 / 1 is 59.0
Prime
59 / 3 is 19.666666666666668
19.666666666666668 --- 6
Not Prime

In [17]:
is_prime = True # often called a flag variable

check_num = int(input('Enter a number: '))

if check_num == 1:
    is_prime = False
else:
    for i in range(2, check_num):
        if check_num % i == 0:
            is_prime = False
            break
if is_prime:
    print('Prime')
else:
    print('Not Prime')

Enter a number: 5
Prime

In [18]:
check_num = int(input('Enter a number: '))

if check_num == 1:
    print('Not Prime')
else:
    for i in range(2, check_num):
        if check_num % i == 0:
            print('Not Prime')
            break
    else:
        print('Prime')

Enter a number: 5
Prime

In [19]:
rows_in_pattern = int(input("Enter the numbers of rows in the Pyramid: "))

num_leading_spaces = (2 * rows_in_pattern) - 2

for row in range(rows_in_pattern):
    
    # Generate the # of leading spaces
    for j in range(num_leading_spaces):
        print("", end=" ")
        
        
    # Generate the # of asterisks in each row
    for j in range(row + 1):
        print("*", end=" ")
        
    # reduce the # of spaces in the next row
    num_leading_spaces = num_leading_spaces - 2
    
    #introduce a new line
    print("")

Enter the numbers of rows in the Pyramid: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [20]:
n = int(input("Enter the number of rows: "))

k = (2 * n) - 2

for i in range(n):

    for j in range(k):
        print("", end=" ")

    for j in range(i + 1):
        print("*", end=" ")

    print("")

    k = k - 2

Enter the number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [21]:
# Print Digits in Reverse Order

the_num = 584

if len(str(the_num)) == 1:
    print(the_num)
else:
    the_num = str(the_num)
    for char in the_num[::-1]:
        print(char, end ='')

485

In [22]:
the_num = 584

the_reverse = int(str(the_num)[::-1])

print(the_reverse)

485

In [23]:
num = 584

reversed_num = 0
while num > 0:
  remainder = num % 10
  reversed_num = (reversed_num * 10) + remainder
  num = num // 10
 
print(reversed_num)

485

In [24]:
# Reverse a String using a Loop

the_string = 'Python'

for char in the_string[:: -1]:
    print(char, end='')

nohtyP

In [25]:
the_string = 'Python'

for char in reversed(the_string):
    print(char, end='')

nohtyP

In [26]:
the_string = 'Python'

# using indices
for i in range(len(the_string)-1, -1, -1):
    print(the_string[i], end='')

nohtyP

In [27]:
the_string = 'Python'

# using indices
for i in reversed(range(len(the_string))):
    print(the_string[i], end='')

nohtyP

In [29]:
# Print Half Pyramid using Loops (*)

the_num = 5

for i in range(the_num + 1):
    the_pattern = '*' * i
    for j in the_pattern:
        the_space = ' ' * (the_num - i)
    print(the_space + the_pattern)

NameError: name 'the_space' is not defined

In [ ]:
n = int(input("Enter the number of rows: "))

k = (2 * n) - 2

for i in range(n):

    for j in range(k):
        print("", end=" ")

    for j in range(i + 1):
        print("^", end=" ")

    print("")

    k = k - 2

In [3]:
# Floyd's Triangle (*)

num_rows = int(input('Enter the number of rows for this triangle: '))

the_num = 1

for row in range(1, num_rows + 1):
    for col in range(1, row+1):
        print(the_num, end = ' ')
        the_num += 1
    print('')

Enter the number of rows for this triangle: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [4]:
num_rows = int(input('Enter the number of rows for this triangle: '))

the_num = 1

for row in range(1, num_rows + 1):
    for col in range(row):
        print(the_num, end = ' ')
        the_num += 1
    print('')

Enter the number of rows for this triangle: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [16]:
# Triangular Letters Pattern (*)
import string

num_rows = int(input('Enter the number of rows for this triangle: '))

the_alpha = string.ascii_uppercase

for row in range(1, num_rows + 1):
    for col in range(row):
        repeat_letter = the_alpha[row-1] * row 
    for char in repeat_letter:
        char = char + ' '
        print(char, end = '')
    print(' ')

Enter the number of rows for this triangle: 6
A
B B
C C C
D D D D
E E E E E
F F F F F F

In [19]:
num_rows = int(input('Enter the number of rows for this triangle: '))

for row in range(num_rows):
    repeat_letter = (chr(65 + row) * (row + 1) )
    for char in repeat_letter:
        char = char + ' '
        print(char, end=' ')
    print()

Enter the number of rows for this triangle: 5
A
B  B
C  C  C
D  D  D  D
E  E  E  E  E

In [150]:
# Diamond Made with Asterisks (*)

diamond_height = 9

#locate the middle row in the diamond
mid_of_diamond = (diamond_height // 2) + 1
print(f'The middle row in this diamond is {mid_of_diamond}.')


if diamond_height % 2 == 0:
    print('The number must be odd!')

for row in range(1, diamond_height + 1):
    if row < mid_of_diamond:
        num_of_asterisks = (row + (row + 1)) - 2
        print('*' * num_of_asterisks)
    elif row == mid_of_diamond:
        print('*' * diamond_height,  f'Middle of triangle!'  ,f'Row is {row}. ' f'Number of * is {num_of_asterisks}')

    elif row > mid_of_diamond and row < diamond_height:
        num_of_asterisks = diamond_height
        print('*' * num_of_asterisks,  f'Row is {row}.' , f'Number of * is {num_of_asterisks}')
        
    else:
        num_of_asterisks = 1
        print('*' * num_of_asterisks,  f'Row is {row}.' , f'Number of * is {num_of_asterisks}')

The middle row in this diamond is 5.
*
***
*****
*******
********* Middle of triangle! Row is 5. Number of * is 7
********* Row is 6. Number of * is 9
********* Row is 7. Number of * is 9
********* Row is 8. Number of * is 9
* Row is 9. Number of * is 1

In [154]:
diamond_height = int(input('Enter a odd nuber to represent the diamond height: ' ))

if diamond_height % 2 == 0:
    print('The height must be an odd number.')
else:
    mid_of_diamond = (diamond_height + 2) // 2
    
    #upper half of diamond
    for row in range(mid_of_diamond):
        print(" " * (mid_of_diamond - row), "*" * (row * 2 + 1))
    
    #lower half of diamond
    for row in range(mid_of_diamond-2, -1, -1):
        print(" " * (mid_of_diamond - row), "*" * (row*2 + 1))

Enter a odd nuber to represent the diamond height: 5
    *
   ***
  *****
   ***
    *